// ==============================
// Override Variables
// ==============================
/*
// Color of the background
$global-background-color: #fff ;
$global-background-color-dark: #263238;

// Color of the text
$global-font-color: #212121;
$global-font-color-dark: #FAFAFA;

// Color of the secondary text
$global-font-secondary-color: #757575;
$global-font-secondary-color-dark: #E0E0E0;

// Color of the header background
$header-background-color: #26C6DA;
$header-background-color-dark: #00838F;
*/
